snippet ( "()" i
(${1})${0}
endsnippet

snippet () "(\r\n)" i
(
	${0}
)
endsnippet

snippet [ "[]" i
[${1}]${0}
endsnippet

snippet [] "[\r\n]" i
[
	${0}
]
endsnippet

snippet { "{ }" i
{ ${1} }${0}
endsnippet

snippet {} "{\r\n}" i
{
	${0}
}
endsnippet

snippet " "inline double quotes" i
"${1}"${0}
endsnippet

snippet ' "inline single quotes" i
'${1}'${0}
endsnippet

snippet ` "inline backticks" i
\`${1}\`${0}
endsnippet

snippet < "inline markup" i
<${1}>${0}
endsnippet
