snippet debug "vimspector config file" b
\{
	"configurations": \{
		"MyConfig": \{
			$0"default": true,
			"adapter": "netcoredbg",
			"configuration": \{
				"request": "launch",
				"program": "\$\{workspaceRoot\}${1:/details/startup}/bin/Debug/netcoreapp3.1/${2:console}.dll"
			\}
		\}
	\}
\}
endsnippet
