snippet sequence "sequence diagram" b
@startuml
'https://plantuml.com/fr/sequence-diagram
${1:Alice} -> ${2:Bob}: ${3:Request}
$1 --> $2: ${4:Response}
$0
@enduml
endsnippet

snippet seq "arrow" b
${1:Alice} -> ${2:Bob}: ${3:Request}
$1 --> $2: ${4:Response}
$0
endsnippet

