/*
/*/
/notes/*
!/config/
!/config/workenv/
/config/myVim/pack/
/config/myVim/specificSnippets/
/config/viebfiles/
!/tools/filters/
*.withsvgs.md
/notes/*
/work_in_progress/*
/config/viebfiles/Code Cache/
/config/my_vimrc.vim
/config/myVim/pythonx/__pycache__/
/config/my_vimrc.vim
