global !p
from my_snippets_helpers import *
endglobal

snippet today "today" i
`!p snip.rv=today()`
endsnippet

snippet :todo "todo emoticon" i
✘
endsnippet

snippet :done "done emoticon" i
✔
endsnippet

snippet :ok "ok emoticon" i
✅
endsnippet

snippet :ko "ko emoticon" i
🚫
endsnippet

snippet :happy "happy emoticon" i
😊
endsnippet

snippet :sad "sad emoticon" i
😞
endsnippet

snippet :todo "Todo emoticon" i
✘
endsnippet

snippet :shrug "shrug (don't know) emoticon" i
🤷
endsnippet

snippet :dk "shrug emoticon" i
🤷
endsnippet

snippet :ib "index pointing bottom" i
👇
endsnippet

snippet :iu "index pointing up" i
☝️
endsnippet

snippet :ir "index pointing right" i
👉
endsnippet

snippet :il "index pointing left" i
👈
endsnippet

snippet :script "script" i
📜
endsnippet

snippet :play "play" i
▶️
endsnippet

snippet :pause "pause" i
⏸️
endsnippet

snippet curl "curl request" b
curl -siLk -X POST ${1:$api}/$0
-H "Content-Type: application/json"
-H "Authorization: Bearer $token"
--data-raw "{
  \"foo\": \"bar\"
}"
endsnippet

global !p
import uuid
endglobal

snippet guid "new Guid" i
`!p
if not snip.c:
  snip.rv=str(uuid.uuid4())
`
endsnippet
