clearsnippets
priority 10

snippet "🏘 architecture|👷 build|🆗 ci\|cd|🧹 cleanup|👁️ comment|🔧 config|🧩 contract-extend|🗃 data-structure|🙅 deprecate|➕ deps-add|➖ deps-remove|⬆ deps-upgrade|⬇ deps-downgrade|📝 docs|🚀 feature|🐛 fix|🗡 kill-whole|🗡 kill-partial|⛓ merge-files|🎠 move-files|⚡️ perf|♻️ refactor|🖋 renaming|🔙 revert|✂ split-files|💄 style|🧪 test-suite|🛡 test-framework|🔤 typo\|wording|🔖 versioning|🚧 work-in-progress" "Conventional Commit" br
`!p snip.rv='{s:{c}<{n}}'.format(s=match.group(0),n=17,c=' ')` (${1:scope}): $2

💌 Motivation: $0
🐾 Step for
endsnippet

snippet "(🏘 architecture|👷 build|🆗 ci\|cd|🧹 cleanup|👁️ comment|🔧 config|🧩 contract-extend|🗃 data-structure|🙅 deprecate|➕ deps-add|➖ deps-remove|⬆ deps-upgrade|⬇ deps-downgrade|📝 docs|🚀 feature|🐛 fix|🗡 kill-whole|🗡 kill-partial|⛓ merge-files|🎠 move-files|⚡️ perf|♻️ refactor|🖋 renaming|🔙 revert|✂ split-files|💄 style|🧪 test-suite|🛡 test-framework|🔤 typo\|wording|🔖 versioning🚧 work-in-progress)!" "Convention Commit with breaking changes" br
`!p snip.rv='{s:{c}<{n}}'.format(s=match.group(1),n=17,c=' ')` (${1:scope})[BREAKING CHANGE]: $2

‼ BREAKING CHANGE: ${3:stuff is not available on version X/contract changed from A to B}

💌 Motivation: $0
🐾 Step for
endsnippet
