snippet html "template for html file"
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>${1:Hello world}</title>
		<script src='${2:svgdiagram.js}'></script>
	</head>
	<body>
		${0:Hello world! :)}
	</body>
</html>
endsnippet

snippet redir "template for html redirection files" 
<html><head><meta http-equiv = "refresh" content = "0; url = ${1:https://www.google.com/}" /></head></html>
endsnippet
