#navbar {position:absolute;bottom: 0;}
#page-container {position:absolute;top:2em;height: calc(100vh - 4em)}
#url-hover {bottom: 4em;}
#suggest-dropdown {top: auto;bottom: 2.1em;}
#mode-suggestions {top: auto;bottom: 2em;}
.bottomright {right: .7em;bottom: 4em;;}
.bottomleft {left: .7em;bottom: 4em;}
.topright {right: .7em;top: .7em;}
.topleft {left: .7em;top: .7em;}
#app.tabshidden .topright, #app.tabshidden .topleft {top: .7em;}
#app.navigationhidden .topright, #app.navigationhidden .topleft {top: .7em;}
#app.tabshidden .bottomright, #app.tabshidden .bottomleft {bottom: 2em;}
#app.navigationhidden .bottomright, #app.navigationhidden .bottomleft {bottom: 2em;}
#app.navigationhidden.tabshidden .bottomright, #app.navigationhidden.tabshidden .bottomleft {bottom: 0;}
/* hidden bars */
#app.tabshidden #url-hover, #app.navigationhidden #url-hover {bottom: 2em;}
#app.tabshidden.navigationhidden #url-hover {bottom: 0;}
#app.navigationhidden #suggest-dropdown {top: auto;bottom: .1em;}


#markdownviewer {
	padding: 10px 10% 193px;
	font-family: Lato,Helvetica Neue,Helvetica,sans-serif;
	font-size: 16px! important;
	line-height: 1.5;
	word-wrap: break-word;
	margin: unset;
	margin-top: 0px;
	margin-bottom: 16px;
	max-width: none;
	color: black;
	background: #f3f3f3;
	tab-size: 4;
}

#markdownviewer div p:first-child {
	margin-top: 0;
}

#markdownviewer h1, h2, h3, h4, h5, h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

#markdownviewer h1 {
	padding-bottom: .3em;
	font-size: 2em;
	border-bottom: 1px solid hsla(210,18%,87%,1);
}

#markdownviewer h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid hsla(210,18%,87%,1);
}

#markdownviewer div {
	max-width: fit-content;
}

#markdownviewer pre {
	margin: 0;
}

#markdownviewer code:not(pre code) {
	background-color: rgba(0,0,0,.05);
	border-radius: 3px;
	padding: 2px 4px;
	font-family: Roboto Mono,Lucida Sans Typewriter,Lucida Console,monaco,Courrier,monospace;
	font-size: .85em;
}

#markdownviewer div:has(> pre) {
	margin: 18px 0px;
	max-width: min-content;
	padding: 0.5em;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	border-radius: 3px;
}

#markdownviewer li input {
	width: auto;
	margin-bottom: 0px;
	height: auto;
}

#markdownviewer table {
	border-spacing: 0;
	border-collapse: collapse;
	margin: 42px 0px;
}
#markdownviewer table th, table td {
    padding: 8px 12px;
    border: 1px solid #d0d7de;
}
#markdownviewer table th, table td:nth-child(even) {
    background: transparent;
}
#markdownviewer table th, table td:nth-child(odd) {
    background: transparent;
}

#markdownviewer table td:first-of-type {
	border-left: 0;
}
#markdownviewer table td:last-of-type {
	border-right: 0;
}
#markdownviewer table tr:last-of-type td {
	border-bottom: 0;
}
#markdownviewer table tr:first-of-type th {
	border-top: 0;
}
#markdownviewer table tr:first-of-type th:first-of-type {
	border-left: 0;
}
#markdownviewer table tr:first-of-type th:last-of-type {
	border-right: 0;
}

#markdownviewer a {
	color: #0969da;
}

#markdownviewer blockquote {
	padding: 0 15px;
	color: rgba(0,0,0,.5);
	border-left: 4px solid #ddd;
}

#markdownviewer img {
	max-width: 100%;
	padding: 5px;
}

#markdownviewer .contains-task-list {
	list-style-type: none;
	padding-left: 0;
}

#markdownviewer div[class^='generated-diagram-'], div[class*=' generated-diagram-'] {
	margin: 5px 0px;
	border: black 1px dotted;
}

#markdownviewer details {
	background-color: rgba(0,0,0,.05);
	margin: 10px 0px;
	display: flow-root;
}
#markdownviewer details > summary {
	background-color: darkseagreen;
	list-style-type: '▶️ ';
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

#markdownviewer details[open] > summary {
	list-style-type: '🔽 ';
}

#markdownviewer details > :not(:first-child) {
	margin: 10px 0px 8px 10px;
}
