' usecase, class & component css unsupported yet
' Observations made on the 2020-08-28
' sequence diagram:  nothing
' activity diagram:  nothing
' class diagram:     name of a class package
' component diagram: name of a component package,node,folder
' state diagram:     all state texts
' usecase diagram:   rectangle text
'skinparam DefaultFontColor #bebebe
'skinparam BackgroundColor #2C2C29
'skinparam useBetaStyle true
'skinparam Shadowing false
'skinparam ActivityBarColor #8f908a
'skinparam hyperlinkUnderline false
'skinparam defaultTextAlignment center
'skinparam noteTextAlignment left
<style>
	DefaultFontColor #bebebe
	BackgroundColor #2C2C29
	useBetaStyle true
	Shadowing false
	ActivityBarColor #8f908a
	hyperlinkUnderline false
	defaultTextAlignment center

noteTextAlignment left
	note {
		BackgroundColor #E1E1E1
	}

	title {
		LineColor #b2d0e4
		BackgroundColor #b2d0e4
		RoundCorner 50
		FontColor Black
		FontSize 24
	}

	arrow {
		FontColor #bebebe
	}
	caption {
		FontColor #bebebe
	}


	sequenceDiagram {
		BackgroundColor #2C2C29
		FontSize 16
		LineColor #fabd2f
		HyperlinkColor #bebebe
		lifeline{
				BackgroundColor #fb8072
				HyperlinkColor FontColor
			}
		actor {
			BackgroundColor #414C53
			LineColor #fdb462
			FontColor #fdb462
			FontStyle Bold
			HyperlinkColor FontColor
		}
		boundary {
			BackgroundColor #414C53
			LineColor #fabd2f
			FontColor #9C9FA1
			HyperlinkColor FontColor
		}
		control {
			BackgroundColor #414C53
			LineColor #fabd2f
			FontColor #9C9FA1
			HyperlinkColor FontColor
		}
		entity {
			BackgroundColor #414C53
			LineColor #fabd2f
			FontColor #9C9FA1
			HyperlinkColor FontColor
		}
		database {
			BackgroundColor #414C53
			LineColor #fabd2f
			FontColor #9C9FA1
			HyperlinkColor FontColor
		}
		box {
			BackgroundColor #414C53
			FontColor #C8C8C8
			LineColor Black
			HyperlinkColor FontColor
		}
		group {
			BackgroundColor #464642
			FontColor #C8C8C8
			HyperlinkColor FontColor
		}
		participant {
			FontName Verdana
			BackgroundColor #b3de69
			LineColor #b2d0e4
			FontStyle Bold
			HyperlinkColor Black
		}
	}

	activityDiagram {
		BackgroundColor #2C2C29
		LineColor #fabd2f

		activity {
			BackgroundColor #b2d0e4
			LineColor #b2d0e4
		}

		arrow {
		}
		diamond {
			BackgroundColor #b3de69
			LineColor Black
		}

		swimlane {
			FontColor #fabd2f
		}
	}

	mindmapDiagram {
		LineColor #fabd2f
		BackgroundColor #2C2C29
		node {
			BackgroundColor #fdb462
			LineColor Black
		}
		rootnode {
			BackgroundColor #fabd2f
			FontStyle Bold
		}
		:depth(1) {
			BackgroundColor #b2d0e4
		}
		:depth(2) {
			BackgroundColor #b3de69
		}
	}

	wbsDiagram {
		LineColor #fabd2f
		node {
			BackgroundColor #fdb462
			LineColor Black
		}
		rootnode {
			BackgroundColor #fabd2f
			FontStyle Bold
		}
		:depth(1) {
			BackgroundColor #b2d0e4
		}
		:depth(2) {
			BackgroundColor #b3de69
		}
		:depth(3) {
			BackgroundColor #fabd2f
		}
		:depth(4) {
			BackgroundColor #fb8072
		}
	}

	jsonDiagram {
		LineColor #fb5012
		BackgroundColor #2C2C29
		node {
			BackgroundColor #abb2bf
			LineColor Black
		}
	}
</style>
