!$blue = "#b2d0e4"
!$green = "#b3de69"
!$gold = "#fabd2f"
!$gray = "#bebebe"
!$grey = "#bebebe"
!$pink = "#fdb462"
!$yellow = "#ffffb3"

!$bgcolor = "#2C2C29"
!$bgcolor2 = "#464642"
!$bgcolor3 = "#ffffff"
!$fontname = "helvetica"
!$fontsize = "18"
!$fontsize2 = "16"
!$fontcolor = $gold
!$titlefontcolor = $fontcolor
!$fontcolor2 = $gold
